<!-- Navegación -->
<nav class="bg-blue-600 text-white p-4 flex justify-evenly items-center">
    <a href="/api/principal" class="text-3xl font-bold hover:text-yellow-500">Superhéroes</a>
    <ul class="flex space-x-4 text-xl">
        <li><a href="/api/heroes" class="hover:underline hover:text-yellow-500">Héroes</a></li>
        <li><a href="/api/heroes/formulario" class="hover:underline hover:text-yellow-500">Crear</a></li>
    </ul>
</nav>